# Native build
native/build/

# Compiled DLLs and libs
lib/win/Release/
lib/win/Debug/
lib/win/*.dll
lib/win/*.lib
lib/win/*.pdb
lib/win/*.exp

# Test project build output
test/bin/
test/export/

# Test project DLLs (must be copied manually)
test/*.dll

# Test project live2d assets (must be copied manually)
test/assets/live2d/*

# Archives
*.zip

# Haxe
*.n
haxelib.json.bak

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
*.swp
.trae/*